.colorBanner {
  background-color: #005100;
}

.colorMenu {
  background: #08bb0b;
}

H1 {
  font-size: 25px;
  font-family: ubuntu;
  font-weight: 600;
  text-align: center;
  align-items: center;
  color: #fff;
  padding: 2em 0 0 0;
}

i.facebok {
  width: 34px;
  height: 34px;
  background: url(../img/img-sprite.png) no-repeat -115px 1px;
  float: left;
  vertical-align: middle;
}
i.facebok:hover {
  background: url(../img/img-sprite.png) no-repeat -115px -43px;
}
i.twiter {
  width: 34px;
  height: 34px;
  background: url(../img/img-sprite.png) no-repeat 1px 1px;
  float: left;
  vertical-align: middle;
}
i.twiter:hover {
  background: url(../img/img-sprite.png) no-repeat 1px -43px;
}
i.goog {
  width: 34px;
  height: 34px;
  background: url(../img/img-sprite.png) no-repeat -37px 1px;
  float: left;
  vertical-align: middle;
}
i.goog:hover {
  background: url(../img/img-sprite.png) no-repeat -37px -43px;
}
i.inst {
  width: 34px;
  height: 34px;
  background: url(../img/img-sprite.png) no-repeat -77px 1px;
  float: left;
  vertical-align: middle;
}
i.inst:hover {
  background: url(../img/img-sprite.png) no-repeat -77px -43px;
}

.footer li {
  display: inline-block;
  margin: 0 0.2em;
}

H3 {
  color: #fff;
}
